[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django-cors-headers = "*"
django-filter = "*"
django-environ = "*"
django-extensions = "*"
shortuuid = "*"
pillow = "*"
validate-email = "*"

[dev-packages]

[requires]
python_version = "3.9"
